body {
  font-family: bungee;
  margin: 3px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ccc {
  padding-bottom: 1%;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 15px;
  font-size: 20px;
  color: #7944e6;
  text-decoration: none;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-item:hover {
  color: #10fdff;
}

.pinkContainer {
  background-color: #ff00ff;
  padding: 20px;
}

.truck {
  width: 300px;
  display: block;
  margin: 30px auto;
  padding-bottom: 30px;
}

h1 {
  text-align: left;
  line-height: 0;
}

h3 {
  text-align: center;
  font-size: 22px;
}

.text {
  width: 100%;
  line-height: 20px;
}

/* BLOCK CONTAINING HEADING, IMAGE, MENU LINK */
.foodMenu {
  border: 6px solid #7944e6;
  width: 300px;
  display: block;
  margin: 30px;
  margin-left: px;
  padding: 10px;
  text-align: center;
}

.coffeeimage {
  width: 300px;
}

.creamimage {
  width: 300px;
}

.cookieimage {
  width: 300px;
}

.side-by-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #ccc {
    width: 170px;
  }

  h1 {
    font-size: 25px;
    margin-top: 50px;
  }

  .text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
  }

  .pink-text {
    width: 50%;
  }

  .pinkContainer {
    display: flex;
    padding: 10px;
  }

  .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .foodMenu {
    justify-content: center;
    padding: px;
    margin: 30px;
  }

  .creamimage {
    height: 272px;
    padding-bottom: 5px;
    margin-top: -22px;
  }
}
